* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'myfont';
  src: url('./assets/consolas.ttf') format("truetype");
}

body {
  font-family: Consolas, 'myfont';
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
}

body {
  cursor: url("./assets/normal.cur"), default
}

input,
select,
textarea,
button {
  font-family: inherit;
}

textarea,
input {
  -webkit-appearance: none;
}

h1 {
  font-weight: normal
}

a {
  text-decoration: none;
  color: #666;
}

button {
  outline: none;
  border: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}